
/*GENERIC*/
.clear {
	clear: both;
}
/*GENERIC*/

/*ICON*/
.img-icon-large {
	font-size: 30px;
	line-height: 30px;
}

.img-icon-reverse {
	color: #fff;
	background: transparent;
}
/*ICON*/

/*FONTS*/
#img-title {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	color: #fff;
}

div.main-center .top-bar-section ul li > a {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 16px;
	color: #ebebeb;
}

div.main-center .img-info-bar {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 14px;	
	color: #929292;
}
/*FONTS*/

/*MAIN CENTER*/
.main-center {
	max-width: 1000px;
	margin: 0px auto;
	position: relative;
	top: -45px;
	left: 0px;
}
/*MAIN CENTER*/

/*TOPBAR*/
.img-topbar-bg {
	width: 100%;
	height: 45px;
	background-color: #333;
	border: 0px;
	padding: 0px;
}

#img-site-top-bar li.active:not(.has-form) a:not(.button) {
	background: #404040 none repeat scroll 0% 0%;
}
/*TOPBAR*/

/*INFOBAR*/
.img-info-bar {
	background-color: #9effd5;
	border: #ccc solid 1px;
	min-height: 25px;
	margin: 10px 5px 10px 5px;
	padding: 5px;
}
/*INFOBAR*/

/*CONTENT*/
.main-center .img-content-main {
	border: 1px solid #e5e5e5;
	min-height: 800px;
	margin: 5px 5px 0px 5px;
	padding: 0px 0px 10px 0px;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 14px;	
	color: #4d4d4d;
}

@media only screen and (max-width: 800px) {
	.main-center .img-content-main {
		min-height: 500px;
	}
}
/*CONTENT*/


/*CONTENT HEADER*/
	.main-center .img-content-main .img-header {
		background-color: #363636;
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		font-size: 18px;
		padding: 0px 0px 0px 15px;
		line-height: 30px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		color: #c4c4c4;
	}
	.main-center .img-content-main .img-header a {
		background-color: #363636;
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		font-size: 18px;
		padding: 0px;
		line-height: 30px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		color: #c4c4c4;
	}
/*CONTENT HEADER*/

/*CONTENT FILTERS*/
	.main-center .img-content-main .img-filters label{
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		font-size: 12px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		color: #4d4d4d;
	}

	.main-center .img-content-main .img-filters select{
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		font-size: 12px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		color: #4d4d4d;
	}

	.main-center .img-content-main .img-filters ul {
		margin: 0px;
		padding-top: 15px;
	}
	
	.main-center .img-content-main .img-filters {
		min-height: 67px;
		border-bottom: 1px solid #e0e0e0;
		margin: 0px 10px 0px 10px;
	}

	.main-center .img-content-main .img-filters ul.filter-items {
		list-style-type: none;
	}

	.main-center .img-content-main .img-filters ul.filter-items li {
		width: 250px;
		float: left;
	}

	.main-center .img-content-main .img-filters ul.filter-items li.img-button {
		width: 120px;
		text-align: right;
		float: right;
	}
/*CONTENT FILTERS*/

/* WELCOME HOME PAGE */
	.main-center .welcome .msg {
		font-size: 13px;
		color: #4d4d4d;
		max-width: 400px;
		float: left;
		text-indent: 1em;
	}

	.main-center .welcome {
		min-height: 85px;
		border-bottom: 1px solid #e0e0e0;
		margin: 0px 10px 0px 10px;
		padding-top: 15px;
	}

	.main-center .welcome .actions {
		float: right;
	}
	.main-center .welcome .actions a.button {
		float: right;
		margin-left: 10px;
	}

	.main-center .welcome .actions a.button i {
		padding-right: 10px;
	}

	@media only screen and (max-width: 770px) {
		.main-center .welcome .msg {
			max-width: none;
			float: none;
		}
		.main-center .welcome .actions {
			float: none;
			margin-top: 25px;
		}		
		.main-center .welcome .actions a.button {
			float: none;
			display: block;
			width: 100%;
			margin-left: 0px;
		}
	}

/* WELCOME HOME PAGE */

/*COLLECTION LIST HEADER*/
	.main-center .img-content-main .img-col-list-header {
		border-bottom: 1px solid #ccc;
		margin: 20px 10px 0px;
		min-height: 30px;
	}

	.main-center .img-content-main .img-col-list-header a {
		float: right;
		line-height: 5px;
		margin-bottom: 5px;
	}

	.main-center .img-content-main .img-col-list-header p {
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		font-size: 16px;
		line-height: 28px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		color: #3a3a3a;
		margin: 0px;
		padding: 0px 0px 0px 0px;
		float: left;
	}

/*COLLECTION LIST HEADER*/

/*HOME PAGE*/
	html, body {
		height: 100%;
	}

	.container {
		width: 100%;
		margin: 0px;
		top: 100px;
		position: absolute;
	}

	.block {
		width: 90%;
		max-width: 400px;
		min-width: 350px;
		background-image: url("images/background-pattern.png");
		border: 1px solid #d9d9d9;
		padding: 10px 25px 10px;
		background-repeat: repeat;
		margin: 0px auto;
	}

	@media only screen and (max-width: 40em) {
		.container {
			width: 100%;
			height: 100%;
			top: 0px;
		}

		.block {
			height: 100%;
			width: 100%;
			max-width: none;
			min-width: 320px;
			background-image: none;
			border: 0px;
			padding: 10px 25px 10px;
			margin: 0px;
		}

		body.home {
			background-image: url("images/background-pattern.png");
			background-repeat: repeat;
		}

		.img-login p.site-title {
			margin-bottom: 0px;
		}

		.img-login a.button {
			padding: 5px;
		}
	}

	.img-login p.site-title {
		font-size: 36px;
		text-align: center;
		padding: 10px 0px 10px;
	}

	.img-login .present {
		margin-bottom: 5px;
	}

	.img-login .visit {
		text-align: right;
		color: #299de0;
		font-weight: bold;
		margin-bottom: 5px;
		padding-right: 5px;
	}

	.img-login .img-separator {
		width: 100%;
		height: 10px;
		border-top: 1px solid #d6d6d6;
		margin: 5px 0px 20px 0px;
	}

	.img-login .img-actions {
		margin-top: 20px;
	}

	.img-login .img-actions a.button {
		width: 100%;
	}

	.img-login p {
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		font-size: 12px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		color: #4d4d4d;
	}

	.img-login span {
		font-size: 12px;
	}

	.img-login input {
		font-size: 12px;
	}

	.img-login a {
		font-size: 12px;
	}
/*HOME PAGE*/

/*COLLECTION LIST*/
	
	.main-center .img-content-main .img-col-list p {
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		font-size: 12px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		color: #4d4d4d;
		margin: 0px;
		padding: 0px;
	}

	.main-center .img-content-main .img-col-list p.title {
		font-size: 14px;
		margin-bottom: 5px;
		font-weight: bold;
		color #464646;
	}

	.main-center .img-content-main .img-col-list p.title:hover {
		color: #707070;
	}

	.main-center .img-content-main .img-col-list {
		list-style-type: none;
		padding: 15px 0px 0px 10px;
		margin: 0px 10px 0px;
	}

	.main-center .img-content-main .img-col-list .img-col {
		height: 130px;
		margin-right: 10px;
		margin-bottom: 10px;
		width: 300px;
		float: left;
	}

	@media only screen and (max-width: 680px) {

		.main-center .img-content-main .img-col-list {
			padding: 15px 0px 0px 0px;
		}

		.main-center .img-content-main .img-col-list .img-col {
			border-bottom: 1px #d9d9d9 solid;
			width: 100%;
		}
	}

	.main-center .img-content-main .img-col-list .img-col.last {
		border-bottom: 0px;
	}

	.main-center .img-content-main .img-col-list .img-col .image img {
		float: left;
		margin: 0px 5px 0px 0px;
	}

	.main-center .img-content-main .img-col-list .img-col .image .img-col-action-icons {
		margin: 5px 0px 0px 0px;
		padding-right: 20px;
		font-size: 20px;
		text-align: right;
	}

	@media only screen and (min-width: 630px) {
		.main-center .img-content-main .img-col-list .img-col .image .img-col-action-icons {
			display: none;
		}
	}

	.main-center .img-content-main .img-col-list .img-col:hover .image .img-col-action-icons {
		display: block;
	}

	.main-center .img-content-main .img-col-list .img-col .image .img-col-action-icons i {
		margin-left: 15px;
		cursor: pointer;
		color: #000;
	}
/*COLLECTION LIST

/*USER LIST*/
	.main-center .img-content-main .img-user-list {
		width: 95%;
		margin: 20px auto 10px;
	}

	.main-center .img-content-main table.img-user-list thead tr th {
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		font-size: 14px;
		font-style: normal;
		font-variant: normal;
		font-weight: bold;
		color: #464646;
		text-align: center;
	}

	.main-center .img-content-main table.img-user-list tbody tr td {
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		font-size: 12px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		color: #4d4d4d;
		text-align: center;
	}

	.main-center .img-content-main table.img-user-list tbody tr td.img-icons {
		font-size: 20px;
	}

	.main-center .img-content-main table.img-user-list tbody tr td.img-icons i {
		margin: 0px 5px 0px 5px;
		cursor: pointer;
	}
/*USER LIST*/

/*USER LIST MOBILE*/
	.main-center .img-content-main .img-user-list-mobile p {
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		font-size: 12px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		color: #4d4d4d;
		margin: 0px 0px 8px 0px;
		padding: 0px 0px 0px 5px;
	}

	.main-center .img-content-main .img-user-list-mobile p.title {
		font-size: 14px;
		margin-bottom: 5px;
		font-weight: bold;
		color #464646;
		padding: 0px;
	}

	.main-center .img-content-main ul.img-user-list-mobile {
		margin-top: 10px;
		margin-left: 10px;
		list-style: none;
	}

	.main-center .img-content-main .img-user-list-mobile .img-user {
		height: 115px;
		margin-right: 10px;
		margin-bottom: 10px;
		border-bottom: 1px #d9d9d9 solid;
		width: 95%;
	}

	.main-center .img-content-main .img-user-list-mobile .img-user .details {
		float: left;
	}

	.main-center .img-content-main .img-user-list-mobile .img-user .img-user-action-icons {
		font-size: 20px;
		margin-top: 40px;
		float: right;
	}

	.main-center .img-content-main .img-user-list-mobile .img-user .img-user-action-icons i {
		margin-left: 15px;
		cursor: pointer;
	}

	.main-center .img-content-main .img-user-list-mobile .img-user.last {
		border-bottom: 0px;
	}
/*USER LIST MOBILE*/

/*IMAGE LIST*/

	.main-center .img-content-main .img-image-list p {
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		font-size: 12px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		color: #4d4d4d;
		margin: 0px;
		padding: 0px;
	}

	.main-center .img-content-main .img-image-list p.title {
		font-size: 14px;
		margin-bottom: 0px;
		font-weight: bold;
		padding-bottom: 3px;
		color #464646;
		text-align: center;
	}

	.main-center .img-content-main .img-image-list p.title:hover {
		color: #707070;
	}

	.main-center .img-content-main .img-image-list .img-image:hover .img-action-icons {
		display: block;
	}

	.main-center .img-content-main .img-image-list .img-image .img-action-icons {
		display: none;
		margin: 0px;
		padding: 0px;
		font-size: 20px;
	}

	.main-center .img-content-main ul.img-image-list {
		list-style: none;
		margin-top: 10px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.main-center .img-content-main ul.img-image-list li {
		width: 180px;
		margin: 10px 25px 10px;
		padding-bottom: 0px;
		float: left;
	}

		/* IMAGE LIST INSIDE FEATURE IMAGES */
	.main-center .img-content-main .img-featured-list ul.img-image-list {
		margin-left: 0px;
	}

	.main-center .img-content-main .img-featured-list ul.img-image-list li {
		margin: 10px 15px 10px;
	}
		/* IMAGE LIST INSIDE FEATURE IMAGES */

	.main-center .img-content-main ul.img-image-list li .img-container {
		width: 140px;
		height: 140px;
		margin-left: 20px;
	}

	.main-center .img-content-main .img-image-list li .img-action-icons i {
		cursor: pointer;
		color: #000;
	}

	.main-center .img-content-main ul.img-image-list li .img-container .img-image-container {
		background-color: red;
		margin: 0px auto;
		position: relative;
		top: 0px;
		left: 0px;
	}

	.main-center .img-content-main ul.img-image-list li .img-container .img-image-container .img-action-icons {
		position: absolute;
		bottom: -5px;
		right: -25px;
	}
/*IMAGE LIST*/

/*IMAGE LIST MOBILE*/
	.main-center .img-content-main .img-image-list-mobile .img-image .img-action-icons {
		font-size: 20px;
	}

	.main-center .img-content-main .img-image-list-mobile .img-image .img-action-icons i {
		cursor: pointer;
	}

	.main-center .img-content-main .img-image-list-mobile p {
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		font-size: 12px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		color: #4d4d4d;
		margin: 0px;
		padding: 0px;
	}

	.main-center .img-content-main .img-image-list-mobile p.title {
		font-size: 14px;
		margin-bottom: 5px;
		font-weight: bold;
		color #464646;
		padding-left: 10px;
		text-align: left;
	}

	.main-center .img-content-main .img-image-list-mobile p.title:hover {
		color: #707070;
	}

	.main-center .img-content-main ul.img-image-list-mobile {
		list-style: none;
		margin: 20px 10px 0px 10px;
	}

		/* IMAGE LIST INSIDE FEATURE IMAGES */
			.main-center .img-content-main .img-featured-list ul.img-image-list-mobile {
				margin: 20px 0px 0px 0px;
			}		
		/* IMAGE LIST INSIDE FEATURE IMAGES */


	.main-center .img-content-main ul.img-image-list-mobile li {
		width: 100%;
		margin: 10px 0px 20px;
		padding-bottom: 10px;
		position: relative;
		border-bottom: 1px #d9d9d9 solid;
	}

	.main-center .img-content-main ul.img-image-list-mobile li.last {
		border-bottom: 0px;
	}

	.main-center .img-content-main ul.img-image-list-mobile li .img-container {
		width: 140px;
		float: left;
	}
	
	.main-center .img-content-main ul.img-image-list-mobile li .img-info {
		float: left;
		width: 140px;
	}

	.main-center .img-content-main ul.img-image-list-mobile li .img-container .img-image-container {
		margin: 0px auto;
	}

	.main-center .img-content-main ul.img-image-list-mobile li .img-action-icons {
		position: absolute;
		bottom: 5px;
		right: 0px;
	}

	.main-center .img-content-main .img-image-list-mobile li .img-action-icons i {
		line-height: 35px;
	}
/*IMAGE LIST MOBILE*/

/*COLLECTION DETAIS DESKTOP */
	.main-center .img-collection-details .info {
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		font-size: 12px;
		color: #4d4d4d;
	}

	.main-center .img-collection-details {
		width: 100%;
		margin: 0px;
		padding: 0px;
		border-bottom: 1px solid #7f7f7f;
	}

	.main-center .img-collection-details span {
		line-height: 40px;
		padding-right: 20px;		
	}

	.main-center .img-collection-details .info {
		padding: 10px;
	}

	.main-center .img-collection-details .actions {
		margin: 10px 0px 10px 0px;
		border-left: 1px solid #e5e5e5;
	}

	.main-center .img-collection-details .actions a {
		width: 100%;
		font-size: 12px;
		color #fff;
		padding: 5px;
		margin: 5px 0px 0px 0px;
	}

	.main-center .img-collection-details .actions a.upper-section {
		margin-bottom: 35px;
		margin-top: 0px;
	}

	.main-center .img-collection-details .actions a i {
		font-size: 15px;
		padding-right: 10px;
	}

	.main-center .img-collection-details .info img {
		width: 250px;
		height: 140px;
		float: left;
		padding-right: 10px;
	}

/*COLLECTION DETAIS DESKTOP */

/*COLLECTION DETAILS MOBILE*/
	.main-center .img-collection-details-mobile {
		background-color: #363636;
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		min-width: 300px;
		font-size: 12px;
		padding: 10px;
		color: #c3c3c3;
	}

	.main-center .img-collection-details-mobile p.collection-title {
		font-size: 18px;
		color: #c4c4c4;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.main-center .img-collection-details-mobile .description {
		margin: 15px 0px 10px 0px;
		padding: 0px;
	}

	.main-center .img-collection-details-mobile .info span {
		display: block;
		padding-bottom: 10px;
	}

	.main-center .img-collection-details-mobile .info img {
		width: 190px;
		height: 105px;
		float: left;
		padding-right: 15px;
	}

	.main-center .img-collection-details-mobile .action-block {
		width: 100%;
		height: 50px;
		padding: 10px 0px 10px 0px;
		border-top: 1px solid #4a4a4a;
	}

	.main-center .img-collection-details-mobile .action-block p.category-title {
		font-size: 16px;
		color: #ffffff;
	}

	.main-center .img-collection-details-mobile .action-block a.button {
		float: right;
		font-size: 12px;
		color #fffff;
		padding: 5px 10px 5px 10px;
		margin: 2px 0px 0px 10px;
	}

	.main-center .img-collection-details-mobile .action-block a i {
		font-size: 10px;
		padding-right: 10px;
	}
/*COLLECTION DETAILS MOBILE*/

/*COLLECTIOIN FEATURES IMAGES LIST*/
	.main-center .img-featured-list {
		width: 100%;
		margin: 20px 0px 0px 0px;
		padding: 0px 10px 0px;
	}
	
	.main-center .img-featured-list .list-item {
		width: 100%;
		margin-bottom: 10px;
		float: none;
	}

	.main-center .img-featured-list .list-item.odd {
		float: none;
	}

	.main-center .img-featured-list .list-item .separator {
		background-color: #ccc;
		width: 100%;
		height: 1px;
	}

	.main-center .img-featured-list .list-item p.featured-list-item-title {
		font-size: 16px;
		margin-bottom: 5px;
	}

	@media only screen and (min-width: 920px) {
		.main-center .img-featured-list .list-item {
			float: right;
			width: 440px;
		}

		.main-center .img-featured-list .list-item.odd {
		float: left;
		}
	}
/*COLLECTIOIN FEATURES IMAGES LIST*/


/*MODAL*/
	.img-modal.reveal-modal {
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		font-size: 12px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		color: #4d4d4d;
		background-color: #f2f2f2;
		border: 1px #dddddd solid;
		padding: 15px;
	}

	.img-modal.reveal-modal label, .img-modal.reveal-modal p {
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		font-size: 12px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		color: #4d4d4d;
	}

	.img-modal.reveal-modal textarea {
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		font-size: 12px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		color: #4d4d4d;
	}

	.img-modal.reveal-modal span {
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		font-size: 12px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		color: #4d4d4d;
	}
	.img-modal.reveal-modal input {
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		font-size: 12px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		color: #4d4d4d;
	}

	.img-modal.reveal-modal p.title {
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		font-size: 16px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		color: #4d4d4d;
		margin-bottom: 0px;
	}

	.img-modal.reveal-modal a.close-reveal-modal {
		line-height: 1.2;
	}

	.img-modal.reveal-modal .close-reveal-modal {
		font-size: 1.8rem;
	}

	.img-modal.reveal-modal .img-modal-separator {
		width: 100%;
		height: 3px;
		margin-bottom: 15px;
		border-bottom: 1px #d9d9d9 solid;
	}

	.img-modal.reveal-modal a.button {
		width: 100%;
		margin-bottom: 0px;
	}

	.img-modal.reveal-modal .modal-section {
		margin-top: 20px;
	}

	@media only screen and (max-width: 40em) {
	    .img-modal.reveal-modal {
	      min-height: inherit; 
		} 
	}
/*MODAL

/*IMAGE VIEWER MODAL*/
	.img-modal.reveal-modal.img-image-viewer label.img-score {
		padding: 5px 0px;
	}

	.img-modal.reveal-modal.img-image-viewer label.img-score.img-score-value {
		color: #aaa;
	}

	.img-modal.img-image-viewer .img-image {
		height: 250px;
		margin-bottom: 15px;
	}

	@media only screen and (max-width: 400px) {
		.img-modal.img-image-viewer .img-image {
			height: 140px;
		}
	}

	.img-modal.img-image-viewer .img-image .img-image-container {
	    width: 100%;
	    height: 100%;
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: 50% 0%;
	}

	.img-modal.img-image-viewer .img-info {
		height: 150px;
		padding-left: 20px;
		padding-top: 20px;
	}

	@media only screen and (max-width: 400px) {
		.img-modal.img-image-viewer .img-info {
			padding-left: 0px;
			padding-top: 0px;
		}
	}

	.img-modal.img-image-viewer .img-navigation {
		height: 73px;
		line-height: 55px;
	}

	.img-modal.img-image-viewer .img-navigation i {
		font-size: 50px;
		cursor: pointer;
	}

	.img-modal.img-image-viewer .img-navigation i.img-left {
		float: left;
	}

	.img-modal.img-image-viewer .img-navigation i.img-right {
		float: right;
	}

	.img-modal.img-image-viewer .range-slider {
		margin: .75rem 0;
	}
/*IMAGE VIEWER MODAL*/

/*TEST*/
	.test {
		display: none;
	}

	@media only screen and (max-width: 300px) {
		.test-a {
			display: block;
		}
	}
	@media only screen and (max-width: 400px) {
		.test-b {
			display: block;
		}
	}
	@media only screen and (max-width: 500px) {
		.test-c {
			display: block;
		}
	}
	@media only screen and (max-width: 600px) {
		.test-d {
			display: block;
		}
	}
	@media only screen and (max-width: 720px) {
		.test-e {
			display: block;
		}
	}
/*TEST*/